/* 1️⃣ Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

/* 3️⃣ Custom Font Variable */
:root {
  --font-Inter: "Inter", sans-serif;
  --font-Playfair: "Playfair Display", serif;
  --font-Poppins: "Poppins", sans-serif;
}




/* Slick-slider */
.slick-next::before {
    color: #fc5133 !important;
    opacity: 1  !important;
    font-size: 30px  !important;
}
.slick-prev::before {
    color: #fc5133 !important;
    opacity: 1  !important;
    font-size: 30px  !important;
}

.slick-slide {
  padding: 0 10px; /* Adjust the gap as per your needs */
}

/* Slick-slider */

.bg-gradient-orange {
  background: linear-gradient(180deg, #FD7E14 0%, #FB3F3F 100%);
}

/* Custom Pulse Animation for Button */
.pulse-outside {
  position: relative;
  animation: pulse-outside 2s infinite;
}

@keyframes pulse-outside {
  0% {
    box-shadow: 0 0 0 0 rgba(253, 126, 20, 0.7);
  }
  70% {
    box-shadow: 0 0 20px 20px rgba(253, 126, 20, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(253, 126, 20, 0);
  }
}
